.section {
    margin: 20px 0;
    background-color: hsl(60, 25%, 95%);
    box-shadow: 4px 4px 30px 10px hsl(60, 25%, 75%);
}

.section__body {
    padding: 20px;
}

.section__header {
    margin: 0;
    padding: 15px;
    border-bottom: 3px solid hsl(60, 25%, 85%);
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

@media (max-width: 767px) {
    .section__header {
        grid-template-columns: auto;
    }
}