.tasks {
    padding: 0px;
}

.tasks__task {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 20px;
    align-items: center;
    color: hsl(60, 25%, 10%);
    padding: 10px;
    list-style-type: none;
    border-bottom: 2px solid hsl(60, 25%, 85%);
}

.tasks__task--done {
    color: hsl(60, 89%, 15%);
}

.tasks__task--hidden {
    display: none;
}

.tasks__taskNameDone {
    text-decoration: line-through;
}

.tasks__button {
    width: 35px;
    height: 35px;
    border: none;
    color: white;
    padding: 0px;
    transition: 0.3s;
}

.tasks__button--done {
    background-color: hsl(120, 100%, 30%);
    font-size: 130%;
}

.tasks__button--done:hover {
    background-color: hsl(120, 100%, 35%);
}

.tasks__button--done:active {
    background-color: hsl(120, 100%, 40%);
}

.tasks__button--remove {
    background-color: hsl(353, 100%, 45%);
    font-size: 160%;
}

.tasks__button--remove:hover {
    background-color: hsl(353, 100%, 60%);
}

.tasks__button--remove:active {
    background-color: hsl(353, 100%, 70%);
}