.taskListButtonRow {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
}

@media (max-width: 767px) {
    .taskListButtonRow {
        grid-template-columns: auto;
        grid-gap: 20px;
    }
}

.taskListButtonRow__button {
    font-size: 16px;
    color: hsl(180, 100%, 20%);
    background-color: inherit;
    border: none;
    margin: 0px 0px 0px 20px;
    transition: 0.3s;
}

.taskListButtonRow__button:hover {
    color: hsl(180, 100%, 28%);
}

.taskListButtonRow__button:active {
    color: hsl(180, 100%, 35%);
}

.taskListButtonRow__button:disabled {
    color: hsl(60, 10%, 75%);
}